footer.l-footer(data-aos="fade")
  .o-gotop
    .o-gotop__arrow
      i.fas.fa-long-arrow-alt-up
    .o-gotop__text TOP

  .l-footer__date-mask(uk-parallax="bgy: 200")
    img.l-footer__img-date(src="img/footer/footer-date.svg", alt="大港開唱資訊")

  .l-footer__sitemap
    ul.l-footer__btn-box
      li.l-footer__btn-wrap
        a.l-footer__btn(href="##")
          span.l-footer__text.--en INFO
          span.l-footer__text.--zh 相關資訊
      li.l-footer__btn-wrap
        a.l-footer__btn(href="##")
          span.l-footer__text.--en NEWS
          span.l-footer__text.--zh 最新消息
      li.l-footer__btn-wrap
        a.l-footer__btn(href="##")
          span.l-footer__text.--en ARTISTS
          span.l-footer__text.--zh 藝人名單
      li.l-footer__btn-wrap
        a.l-footer__btn(href="##")
          span.l-footer__text.--en TIMETABLE
          span.l-footer__text.--zh 節目表
      li.l-footer__btn-wrap
        a.l-footer__btn(href="##")
          span.l-footer__text.--en TICKET
          span.l-footer__text.--zh 購票資訊
      li.l-footer__btn-wrap
        a.l-footer__btn(href="map.html")
          span.l-footer__text.--en MAP
          span.l-footer__text.--zh 地圖導覽

    ul.l-footer__link-box
      li.l-footer__link-wrap
        a(href="https://www.facebook.com//megaportfest/" target="_blank")
          i.fab.fa-facebook.l-footer__icon
      li.l-footer__link-wrap
        a(href="https://www.instagram.com/megaportfest/" target="_blank")
          i.fab.fa-instagram.l-footer__icon
      li.l-footer__link-wrap
        a(href="https://www.youtube.com/channel/UC7xWU14_GGYKVqoSLg1M8EQ/feed" target="_blank")
          i.fab.fa-youtube.l-footer__icon

    .l-footer__copyright Copyright © Mike Wan. All rights reserved.