meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

//- 防止 Iphone 自訂偵測電話，影響樣式
meta(name="format-detection" content="telephone=no")
meta(http-equiv="x-rim-auto-match" content="none")

//- FB 縮圖資訊
meta(property="og:type" content="website")
meta(property="og:url" content="https://jarvis.huihuidesign.com.tw/jarvis-course/megaport/")
meta(property="og:image" content="https://jarvis.huihuidesign.com.tw/jarvis-course/megaport/img/og/og.jpg")
meta(property="og:description" content="赫綵設計學院 - 網頁前端設計實務｜整合應用（Project7），建立開發環境並實作完整互動式網站。")

//- 網頁描述
meta(name="description" content="赫綵設計學院 - 網頁前端設計實務｜整合應用（Project7），建立開發環境並實作完整互動式網站。")

//- 網頁 icon
link(rel="shortcut icon", href="img/logo/logo-icon.png", type="image/png")
link(rel="apple-touch-icon", href="img/logo/logo-icon.png")

link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer")
link(rel="stylesheet", href="css/aos.css")
link(rel="stylesheet", href="css/swiper-bundle.min.css")
link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous")
link(rel="stylesheet", href="css/style.css")