nav.c-navbar
  a.c-navbar__logo-wrap(href="index.html")
    img(src="img/logo/logo.svg", alt="大港開唱")

  .o-burger.c-navbar__burger(onclick="handleBurger()")
    .o-burger__wrap
      .o-burger__line
      .o-burger__line
      .o-burger__line

  .c-navbar__body
    .c-navbar__menu
      ul.c-navbar__btn-box
        li.c-navbar__btn-wrap
          a.c-navbar__btn(href="##")
            .c-navbar__text.--en INFO
            .c-navbar__text.--zh 相關資訊
        li.c-navbar__btn-wrap
          a.c-navbar__btn(href="##")
            .c-navbar__text.--en NEWS
            .c-navbar__text.--zh 最新消息
        li.c-navbar__btn-wrap
          a.c-navbar__btn(href="##")
            .c-navbar__text.--en ARTISTS
            .c-navbar__text.--zh 藝人名單
        li.c-navbar__btn-wrap
          a.c-navbar__btn(href="##")
            .c-navbar__text.--en TIMETABLE
            .c-navbar__text.--zh 節目表
        li.c-navbar__btn-wrap
          a.c-navbar__btn(href="##")
            .c-navbar__text.--en TICKET
            .c-navbar__text.--zh 購票資訊
        li.c-navbar__btn-wrap
          a.c-navbar__btn(href="map.html")
            .c-navbar__text.--en MAP
            .c-navbar__text.--zh 地圖導覽

      ul.c-navbar__link-box
        li.c-navbar__link-wrap
          a(href="https://www.facebook.com//megaportfest/" target="_blank") 
            i.fa-brands.fa-facebook.c-navbar__icon
        li.c-navbar__link-wrap
          a(href="https://www.instagram.com/megaportfest/" target="_blank") 
            i.fa-brands.fa-square-instagram.c-navbar__icon
        li.c-navbar__link-wrap
          a(href="https://www.youtube.com/channel/UC7xWU14_GGYKVqoSLg1M8EQ/feed" target="_blank") 
            i.fa-brands.fa-line.c-navbar__icon