.l-footer
  margin-top: 12rem
  &__date-mask
    display: flex
    justify-content: center
    align-items: center
    padding: 14rem 4vw
    background-image: url('../img/footer/footer-bg.jpg')
    background-size: cover
    background-position: center center
  &__img-date
    max-width: 35rem
  &__sitemap
    display: flex
    flex-direction: column
    align-items: center
    padding: 4rem 4vw
    background-color: $color-primary
  &__btn-box
    display: flex
    justify-content: center
    flex-wrap: wrap
    margin-top: -1rem
  &__btn-wrap
    margin-top: 1rem
    &:not(:last-child)
      margin-right: 2.4rem
  &__btn:hover &
    &__text.--en
      opacity: 0
    &__text.--zh
      color: $color-secondary
      opacity: 1
  // 調整高亮
  &__btn.is-active &
    &__text
      color: $color-secondary
  &__text
    font-size: 1.5rem
    font-weight: 900
    line-height: 1.25
    text-align: center
    white-space: nowrap
    transition: 0.3s
    &.--en
      font-family: $font-en
    &.--zh
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      font-family: $font-primary
      opacity: 0
  &__link-box
    display: flex
    align-items: center
    padding: 1.2rem 0 2rem
  &__link-wrap
    transition: 0.3s
    &:hover
      color: $color-secondary
    &:not(:last-child)
      margin-right: 1rem
  &__copyright
    font-size: 1.4rem

  +media(sm)
    margin-top: 10vw

  +media(xs)
    margin-top: 12vw
    &__date-mask
      padding: 20vw 4vw
    &__img-date
      max-width: 30rem
    &__btn-wrap:not(:last-child)
      margin-right: 1.2rem