doctype html
html(lang="en")
  head
    include includes/_head.pug
    title 【專案實作】Megaport Festival 大港開唱 2021
  body.is-home
  
    header.l-header(data-aos="fade")
      //- input-element 滑鼠進入指定區塊內才生效
      h1.l-header__slogan-wrap.js-parallax(data-input-element=".l-header")
        span.l-header__slogan(data-depth="-0.2") 人生
          span.l-header__subslogan 音樂祭
        span.l-header__slogan(data-depth="-0.1") 人生
          span.l-header__subslogan 音樂祭

      .l-header__swiper-area
        svg.l-header__svg-mask
          //- SVG 暫存區
          defs
            //- 設定 fill 支援 safari 黑背景
            mask#banner-shape01(fill="white")
              path(d="M101.984 0L1486.33 178.762L1270.23 788.591L0 829.293L101.984 0Z")
            mask#banner-shape02(fill="white")
              path(d="M0 182.409L1498.74 0L1292.37 872.121L89.854 756.921L0 182.409Z")
            mask#banner-shape03(fill="white")
              path(d="M188.265 0L1441.82 45.919L1399.71 744.419L0 846.809L188.265 0Z")

        .swiper.l-header__swiper
          .swiper-wrapper
            .swiper-slide.l-header__slide
              svg(viewBox="0 0 1500 900")
                g(mask="url(#banner-shape01)")
                  //- 設定 width height 屬性以支援 ios12 及以下版本
                  image.l-header__img(xlink:href="img/banner/banner-img01.jpg" width="100%" height="100%")
            .swiper-slide.l-header__slide
              svg(viewBox="0 0 1500 900")
                g(mask="url(#banner-shape02)")
                  image.l-header__img(xlink:href="img/banner/banner-img02.jpg" width="100%" height="100%")
            .swiper-slide.l-header__slide
              svg(viewBox="0 0 1500 900")
                g(mask="url(#banner-shape03)")
                  image.l-header__img(xlink:href="img/banner/banner-img03.jpg" width="100%" height="100%")

      include includes/_navbar.pug

    main
      section.l-lineup
        .c-blockade.l-lineup__blockade
          .c-blockade__line
            //- viewport 完成位置 / easing 延遲 / x 初始位置, 可視位置, 結束位置
            .c-blockade__text(uk-parallax="viewport: 0.9; x: 70vw,0,-110vw") 台灣最生猛海派的音樂祭 - 大港開唱
          .c-blockade__line
            .c-blockade__text(uk-parallax="viewport: 0.8; x: -50vw,0,100vw") 台灣最生猛海派的音樂祭 - 大港開唱
          .c-blockade__line
            .c-blockade__text(uk-parallax="viewport: 0.8; easing: 1.5; x: 100vw,-40vw,-60vw") 台灣最生猛海派的音樂祭 - 大港開唱
          .c-blockade__line
            .c-blockade__text(uk-parallax="viewport: 0.7; x: -100vw,50vw,90vw") 台灣最生猛海派的音樂祭 - 大港開唱

        .l-lineup__sticky
          .container
            .row
              .col-12
                .l-lineup__title-section(data-aos="fade-up")
                  h2.u-title-section LINEUP
                    span.u-subtitle-section MEGAPORT FESTIVAL

            .row.l-lineup__box.js-parallax(data-input-element=".l-lineup")
              .col-md-5.l-lineup__wrap(data-depth="0.1")
                article.l-lineup__artist.--artist01(data-aos="fade-up")
                  a(href="##")
                    h3.u-title.--lg.l-lineup__title.--title01 9m88
                    //- scalar(10) 設置加速度 / friction(0-1) 設置過渡
                    .l-lineup__img-mask.js-parallax(data-scalar-y="0" data-friction-x="0.4")
                      .l-lineup__glitch-wrap.--primary(data-depth="-0.2")
                        img(src="img/lineup/lineup01.jpg", alt="大港開唱藝人名單")
                      .l-lineup__glitch-wrap.--secondary(data-depth="0.2")
                        img(src="img/lineup/lineup01.jpg", alt="大港開唱藝人名單")
                      .l-lineup__img-main
                        img(src="img/lineup/lineup01.jpg", alt="大港開唱藝人名單")

              .col-md-7.l-lineup__wrap(data-depth="-0.1")
                article.l-lineup__artist.--artist02(data-aos="fade-up")
                  a(href="##")
                    h3.u-title.--lg.l-lineup__title.--title02 恆月三途
                    .l-lineup__img-mask.js-parallax(data-scalar-y="0" data-friction-x="0.4")
                      .l-lineup__glitch-wrap.--primary(data-depth="-0.2")
                        img(src="img/lineup/lineup02.jpg", alt="大港開唱藝人名單")
                      .l-lineup__glitch-wrap.--secondary(data-depth="0.2")
                        img(src="img/lineup/lineup02.jpg", alt="大港開唱藝人名單")
                      .l-lineup__img-main
                        img(src="img/lineup/lineup02.jpg", alt="大港開唱藝人名單")

              .col-lg-4.col-sm-7.l-lineup__wrap(data-depth="-0.2")
                article.l-lineup__artist.--artist03(data-aos="fade-up")
                  a(href="##")
                    h3.u-title.--lg.l-lineup__title.--title03 Beyound Cure
                    .l-lineup__img-mask.js-parallax(data-scalar-y="0" data-friction-x="0.4")
                      .l-lineup__glitch-wrap.--primary(data-depth="-0.2")
                        img(src="img/lineup/lineup03.jpg", alt="大港開唱藝人名單")
                      .l-lineup__glitch-wrap.--secondary(data-depth="0.2")
                        img(src="img/lineup/lineup03.jpg", alt="大港開唱藝人名單")
                      .l-lineup__img-main
                        img(src="img/lineup/lineup03.jpg", alt="大港開唱藝人名單")
                        
              .col-lg-4.col-sm-5.l-lineup__wrap(data-depth="0.2")
                article.l-lineup__artist.--artist04(data-aos="fade-up")
                  a(href="##")
                    h3.u-title.--lg.l-lineup__title.--title04 Dudu King
                    .l-lineup__img-mask.js-parallax(data-scalar-y="0" data-friction-x="0.4")
                      .l-lineup__glitch-wrap.--primary(data-depth="-0.2")
                        img(src="img/lineup/lineup04.jpg", alt="大港開唱藝人名單")
                      .l-lineup__glitch-wrap.--secondary(data-depth="0.2")
                        img(src="img/lineup/lineup04.jpg", alt="大港開唱藝人名單")
                      .l-lineup__img-main
                        img(src="img/lineup/lineup04.jpg", alt="大港開唱藝人名單")

              .col-lg-4.col-sm-5.offset-lg-0.offset-sm-5.l-lineup__wrap(data-depth="-0.1")
                article.l-lineup__artist.--artist05(data-aos="fade-up")
                  a(href="##")
                    h3.u-title.--lg.l-lineup__title.--title05 Da Wang
                    .l-lineup__img-mask.js-parallax(data-scalar-y="0" data-friction-x="0.4")
                      .l-lineup__glitch-wrap.--primary(data-depth="-0.2")
                        img(src="img/lineup/lineup05.jpg", alt="大港開唱藝人名單")
                      .l-lineup__glitch-wrap.--secondary(data-depth="0.2")
                        img(src="img/lineup/lineup05.jpg", alt="大港開唱藝人名單")
                      .l-lineup__img-main
                        img(src="img/lineup/lineup05.jpg", alt="大港開唱藝人名單111")

      section.l-news
        .container
          .row
            .col-12
              .l-news__title-section(data-aos="fade-up")
                h2.u-title-section NEWS
                  span.u-subtitle-section MEGAPORT FESTIVAL
        .container-fluid(data-aos="fade-up")
          .row
            .col-12
              .l-news__btn-swiper.--prev
                i.fas.fa-arrow-left
              .l-news__btn-swiper.--next
                i.fas.fa-arrow-right

              //- 為了吃統一的最高寬度
              .container
                .row
                .col-12
                  .swiper.l-news__swiper
                    .swiper-wrapper
                      .swiper-slide.l-news__slide
                        article.c-card
                          .c-card__img-mask
                            img(src="img/news/news01.jpg", alt=" 大港 防疫公告！")
                          .c-card__body
                            .c-card__date-wrap
                              span.c-card__date 2021
                              span.c-card__date 04.12
                            h3.u-title-item.c-card__title  大港 防疫公告！
                            p.c-card__desc 【入場需先填寫 Line 實聯制問卷才能兌換手環】 如何填寫實聯制...
                            .o-btn.--right.c-card__btn
                              a.o-btn__link(href="##") MORE
                      .swiper-slide.l-news__slide
                        article.c-card
                          .c-card__img-mask
                            img(src="img/news/news02.jpg", alt=" 金牌台啤x大港開唱 聯名限定上市")
                          .c-card__body
                            .c-card__date-wrap
                              span.c-card__date 2021
                              span.c-card__date 04.12
                            h3.u-title-item.c-card__title  金牌台啤x大港開唱 聯名限定上市
                            p.c-card__desc 為在地音樂乾一杯！ 金牌台啤x大港開唱聯名啤酒限定上市 高雄最具代表性的大型音樂...
                            .o-btn.--right.c-card__btn
                              a.o-btn__link(href="##") MORE
                      .swiper-slide.l-news__slide
                        article.c-card
                          .c-card__img-mask
                            img(src="img/news/news03.jpg", alt=" 大港開唱 x MegaFun")
                          .c-card__body
                            .c-card__date-wrap
                              span.c-card__date 2021
                              span.c-card__date 04.12
                            h3.u-title-item.c-card__title  大港開唱 x MegaFun
                            p.c-card__desc ✧ 好耍 ✧趣味 ✧足歡喜 大港娛樂特區MegaFun全方位手冊 . ** MEGADIVE 孤枝大夫 ** 輕鬆享受人體衝浪支...
                            .o-btn.--right.c-card__btn
                              a.o-btn__link(href="##") MORE
                      .swiper-slide.l-news__slide
                        article.c-card
                          .c-card__img-mask
                            img(src="img/news/news04.jpg", alt=" 大港帥口罩")
                          .c-card__body
                            .c-card__date-wrap
                              span.c-card__date 2021
                              span.c-card__date 04.12
                            h3.u-title-item.c-card__title  大港帥口罩
                            p.c-card__desc 想要這個大港口罩嗎？填寫實聯制問卷就送給你 #只送不賣 #有大港單雙日票券者才可兌換...
                            .o-btn.--right.c-card__btn
                              a.o-btn__link(href="##") MORE
                      .swiper-slide.l-news__slide
                        article.c-card
                          .c-card__img-mask
                            img(src="img/news/news05.jpg", alt=" 官方周邊 正式公佈！")
                          .c-card__body
                            .c-card__date-wrap
                              span.c-card__date 2021
                              span.c-card__date 04.12
                            h3.u-title-item.c-card__title  官方周邊 正式公佈！
                            p.c-card__desc 敲破碗的大港周邊這不就來了嗎 . 定番款大港毛巾必收 漁夫帽門簾與工作衫首次登場 超搶眼...
                            .o-btn.--right.c-card__btn
                              a.o-btn__link(href="##") MORE
                      .swiper-slide.l-news__slide
                        article.c-card
                          .c-card__img-mask
                            img(src="img/news/news06.jpg", alt=" 大港線上直播 來囉！")
                          .c-card__body
                            .c-card__date-wrap
                              span.c-card__date 2021
                              span.c-card__date 04.12
                            h3.u-title-item.c-card__title  大港線上直播 來囉！
                            p.c-card__desc 沒買到大港票的朋朋，線上直播來啦 . 大港開唱與LINE TODAY獨家合作 #南霸天、 #女神龍...
                            .o-btn.--right.c-card__btn
                              a.o-btn__link(href="##") MORE

      section.l-about
        .container
          .row
            .col-12
              .l-about__title-section(data-aos="fade-up")
                h2.u-title-section ABOUT
                  span.u-subtitle-section MEGAPORT FESTIVAL

        .container-fluid.l-about__container
          .row
            .col-md-7.order-md-1.order-2(data-aos="fade-right")
              .l-about__img-mask
                .l-about__img(uk-parallax="bgy: -200")
            .col-md-5.order-md-2.order-1
              .l-about__content-wrap
                .l-about__content(data-aos="fade-up")
                  h3.u-title.u-mb-30 2021年即將邁入第十二屆的《大港開唱》
                  p.l-about__desc 每年三月於高雄舉辦的大型音樂祭典，受到全台灣及日本香港年輕觀眾的喜愛，近年已成為台灣最具指標性的大型戶外音樂祭活動。
                .l-about__content(data-aos="fade-up")
                  h3.u-title.u-mb-30 「人生」與「音樂」
                  p.l-about__desc 大港舉辦在高雄港邊，獨特的海港地景和人文風情，常勾起人生中各種酸甜苦辣的回憶。大港因此找來有著豐富人生歷程的知名藝人及業界前輩演出，或是與新一代的樂團或藝人一起合作，交融出出代之間的化學變化，往往成為當年度為人津津樂道的經典現場...

                .o-btn.--right.l-about__btn(data-aos="fade-up")
                  a.o-btn__link(href="##") MORE

    include includes/_footer.pug
    include includes/_scripts.pug
